* {
  font-family: 'Coiny', cursive;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 5px solid black;
}

.tile img {
  width: 35px;
  height: 35px;
  display: block;
  margin: 0;
}

.title {
  text-align:center;
  color: #b8506e;
}

.header {
  width: 100%;
}

.counter {
    float: right;
    border: 5px solid black;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background: gold;
    text-align: right;
}

.counter h3 {
  margin: 0;
}

.left {
  margin: 0;
  float: left;
  display: inline-block;
  border: 5px solid black;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background: gold;
}

td {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  text-align: center;
}

.tile {
  background-color: #519548;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 5px;
}

.tile.possibleMovement {
  background-color: #88C425;
}

.container {
  width: 40%;
  margin: 0 auto;
}

body {
  background: #819cb1;
}

.restartButton {
    text-align: center;
}

.restartButton button {
    margin-top: 25px;
    background-color: gold;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    border: 3px solid black;
    font-size: 15px;
    padding: 5px;
}

.red {
  color: #b8506e;
}

.blue {
  color: #4c56ac;
}
